<tr>
    <td>
        <%= code.code %>
    </td>
    <td>
        <%= code.title %>
    </td>
    <td>
        <%= code.body %>
    </td>
    <td>
        <%= code.occurrence_count %>
    </td>
    <td>
        <%= form_with url: code_path(code), local: true, method: :PATCH do |f| %>
            <%# <%= f.text_field :occurrence_count, placeholder: code.occurrence_count %> 
            <%= f.text_field :occurrence_count, placeholder: '発生回数' %>
            <%= f.submit '追加', class: 'btn btn-secondary btn-sm' %>
            <%= link_to '編集', edit_code_path(code), class: "btn btn-success btn-sm" %>
            <%= link_to '削除', code_path(code), method: :DELETE, data: {confirm: '削除しますか？' }, class: "btn btn-danger btn-sm" %>
        <% end %>
    </td>
<tr>


