<div class="container mb-5 pt-2">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><%= Code.human_attribute_name(:code) %></th>
                    <th scope="col"><%= Code.human_attribute_name(:title) %></th>
                    <th scope="col"><%= Code.human_attribute_name(:body) %></th>
                    <th scope="col"><%= Code.human_attribute_name(:occurrence_count) %></th>
                    <%# 追加する回数 %>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <%= render @codes %>
                </tbody>
            </table>
        </div>
    </div>
</div>